
#rules{
    text-align: center;
    background-color: rgb(188, 155, 194);
    font-size: 20px;
}
.start{
    text-align: center;
    background-color:rgb(199, 107, 191); ;
}

.col-md-12 {
    text-align: center;
    background-color: rgb(199, 107, 191);
}